<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li class="active">
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/register">Register</a>
        </li>
        <li>
            <a routerLink="/admission">Admission</a>
        </li>

        <li>
            <a routerLink="/aboutus">About Us</a>
        </li>

        <li>
            <a routerLink="/contact">Contact Us</a>
        </li>
        <ul class="nav navbar-nav navbar-right">            
            <li  *ngIf="service.IsLoggedIn()">
                <button type="button" class="btn btn-primary" (click)="signout()">Logout</button>                
            </li>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!service.IsLoggedIn()"><a routerLink="/login"><span class="glyphicon glyphicon-user"></span> Login </a></li>            
              </ul>
        </ul>
    </ul>
</nav>

<hr>
<router-outlet></router-outlet>