<div style="background-image: url('../assets/images/laptop.jpg'); height:700px ;width:100%">
    <h1><a href="/dac">PG Diploma in Advance Computing</a></h1>
    <h1><a href="/dmc">PG Diploma in Mobile Computing</a></h1>
    <h1><a href="/desd">PG Diploma In Embedded Systems and Design</a></h1>
    <h1><a href="/dbda">Post Graduate Diploma in Big Data Analytics</a></h1>
    <h1><a href="/diot">Post Graduate Diploma in Internet of Things</a></h1>
</div>

<!-- <div style="background-image: url('../assets/images/DMC.jpg'); height:300px ;width:1000px">
    <h1><a href="/dmc">PG Diploma in Mobile Computing</a></h1>
</div>
<div style="background-image: url('../assets/images/DESD.jpg'); height:300px  ;width:1000px">
    <h1><a href="/desd">PG Diploma In Embedded Systems and Design</a></h1>
</div>
<div style="background-image: url('../assets/images/bigData.jpg'); height:300px ;width:1000px">
    <h1><a href="/dbda">Post Graduate Diploma in Big Data Analytics</a></h1>
</div>
<div style="background-image: url('../assets/images/IoT.jpg'); height:300px  ;width:1000px">
    <h1><a href="/diot">Post Graduate Diploma in Internet of Things</a></h1>
</div>         -->
